[Desktop Entry]
Version=1.0
Name=Linear
Comment=Web App
Exec=google-chrome-stable --app="https://linear.app/johntech/team/JOH/active" --class=WebApp-Linear7107 --user-data-dir=/home/johnc/.local/share/ice/profiles/Linear7107
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=OpenTodoList
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Linear7107
StartupNotify=true
X-WebApp-Browser=Chrome
X-WebApp-URL=https://linear.app/johntech/team/JOH/active
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

